CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_LP_CORE=y
CONFIG_ULP_COPROC_RESERVE_MEM=15000
CONFIG_ULP_PANIC_OUTPUT_ENABLE=y

CONFIG_ESP_AMP_SUBCORE_USE_HP_MEM=y
CONFIG_ESP_AMP_SUBCORE_USE_HP_MEM_SIZE=16384
