# Enable ESP_AMP
CONFIG_ESP_AMP_ENABLED=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Subcore Kconfig
CONFIG_SUBCORE_GREETING_MESSAGE="SUB: Hello from subcore (custom)"
CONFIG_SUBCORE_MAIN_DELAY_MS=2000

# Route Subcore Print to Maincore Console
CONFIG_ESP_AMP_SYSTEM_ENABLE_SUPPLICANT=y
CONFIG_ESP_AMP_ROUTE_SUBCORE_PRINT=y
